<h1> hello wod</h1>

@model LICMVC.Models.Manager
<form asp-controller="Manager" asp-action="Insert">

    <label>MallName</label><br />
    <input type="text" asp-for="MallName" /><br />
    <label> ShopNo</label>
    <input type="text" asp-for="ShopNo" /><br />
    <label> Address</label><br />
    <input type="text" asp-for="Address" /><br />
    <label>State</label><br />
    <input type="text" asp-for="State" /><br />
    <input type="submit" value="create" class="btn btn-primary"


</form>